{% extends "base.html" %}
{% block title %}
<!-- 标题-->
{% endblock %}

{% block container %}

<script>
    $(document).ready(function(){
        $(".perm_checkbox").change(function(e) {
            checked = false
            if ($(this).prop("checked")){
                checked = true
            }

            $.post('/backend/update_perm/'+$(this).attr('userid'),
                {'csrfmiddlewaretoken': '{{ csrf_token}}',
                    'PERM': $(this).attr('perm'),
                    'checked': checked
                },
                function(data){
                    alert(data);
                })
        });
    });
</script>


<h1>
    用户列表
</h1>

<table class="table table-bordered">
    {% for user in users %}
        <tr>
            <td> {{ user.username }}</td>
            <td> {{ user.first_name }}</td>
            <td>  <input class='perm_checkbox' perm = 'ADMIN' userid={{ user.id }} type="checkbox" {% if user.isAdmin %} checked {% endif %}  >
                管理员
            </td>

            <td>  <input class='perm_checkbox' perm = 'SALES' userid={{ user.id }} type="checkbox" {% if user.isSales %} checked {% endif %}  >
                 销售员
            </td>

            <td>
                <ul>
                    <li> <a href="{% url 'reset_pwd' id=user.pk %}"> 密码重置 </a></li>
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}